---
---

@import "{{ site.theme }}";

.page-header {background-color: #445eaf; background-image: none; color: white;}
.page-header2 {background-color: #F8C3C7; background-image: none; color: white;}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {color: #D8001E;}
.main-content {background-color:#F6EEE1;color:#243F28}
.site-footer p {font-size: 70%;}
.body {background-color:#F6EEE1 ; color:#243F28}
