<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Vers une commande publique ouverte</h1>
      <h2 class="project-tagline"L’ouverture des données des consultations</h2>
	    <h3>Livre blanc du projet SCOPE (Source de la Commande publique Ouverte Pour les Entreprises)</h3>
	    
	<a href="https://drive.google.com/file/d/1cOanYXsq_yRTV41wnoTmQOzeXwUH_kBv/preview" class="btn">Télécharger le livre blanc</a>
        <a href="#main" class="btn">Lire le résumé</a>
        <a href="mailto:hello@datactivist.coop" class="btn">Nous contacter</a>
	  </section>
	<section class="page-header" style="background-color:#F8C3C7">
<iframe src="https://drive.google.com/file/d/1cOanYXsq_yRTV41wnoTmQOzeXwUH_kBv/preview" width="70%" height="780"></iframe>
    </section>

    <section class="main-content" id="main" style="background-color":#F6EEE1;color:#243F28">
      {{ content }}
									
    <footer class="site-footer">
	    <p style="font-weight:bold"> A propos du projet Scope</p>
	    <p>Scope Occitanie, c'est la proposition des acheteurs publics partenaires du projet pour rendre les données sur la commande publique en Occitanie ouvertes, organisées de façon intelligible et centralisée dans un but de simplification et de compétitivité pour les entreprises.</p>
            <img src="logos.png" width="250px" />
	    </footer>
    </section>

  </body>
</html>
